@{
    ViewBag.Title = "Резултати от гласуването";
}

<h2>Благодарим ви, че гласувахте!</h2>

<p>Вашият избор е: @ViewBag.Option</p> <!-- Показваме избора на потребителя -->
<p>Вашият код за проследяване е: @ViewBag.TrackCode</p> <!-- Показваме кода за проследяване -->
